<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head") %>

<body>
  <%- include("./partials/navbar") %>
  <%- include("./partials/posts") %>

  <scri pt src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
